*.elc
.edbi-ds-history
el-get/*
auto-save-list/*
my-lib/bin/*
eshell/*
.session
session.*
elpa
.DS_Store
*.eld
recentf*
network-security.data
image-dired/*
.lsp-session-v1
request/

# 競合時に作成されるバックアップファイルは対象に含まない
\#*\#
.\#*
auto-save-list/*
eshell/*
*~